.fullPage {
  height: 100vh;
  background-color: #fff;
}

.homepage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;
  background-color: #fff; /* para evitar o "flash" */
}

.imgCustom {
  max-width: 280px;
  color: #fff;
  transition: all 1s ease;
}

.fadeIn {
  opacity: 0;
  transform: scale(0.8);
  animation: fadeInZoom 1s forwards;
}

.fadeOut {
  opacity: 1;
  transform: scale(1);
  animation: fadeOutSlide 1s forwards;
}

@keyframes fadeInZoom {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOutSlide {
  to {
    opacity: 0;
    transform: translateY(-20px) scale(0.9);
  }
}

.startContent {
  animation: fadeInStart 1s ease forwards;
  opacity: 0;
}

@keyframes fadeInStart {
  to {
    opacity: 1;
  }
}


.cover {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  background: #104C42; /* cor do "pano" */
  z-index: 9999;
  animation: slideCover 1.5s forwards;
}

@keyframes slideCover {
  0% {
    left: -100%;
  }
  50% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}
